<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Banh Xeo">
	<meta name="copyright" content="Banh Xeo@2017"> 
	<title>Nguyen Van Cuong CV</title>
	
	<!-- favicon -->
    <link rel="shortcut icon" href="static/images/ico/favicon.jpg">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="static/images/ico/apple-touch-icon-57-precomposed.png">
	
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="static/css/materialdesignicons.min.css" />
	<link rel="stylesheet" type="text/css" href="static/css/template.css" />
	
</head>

<body>
	
	<!-- Wrapper
    ================================================== -->
	<div id="nino-cvWrap">
		<nav id="mainMenu">
			<ul>
				<li><a href="/"><i class="mdi mdi-briefcase nino-icon"></i>Basic Info</a></li>
				<li><a href="projects"><i class="mdi mdi-star-circle nino-icon"></i>Projects</a></li>
				
			</ul>
		</nav>
		<div layout="row" class="fw">
			<div id="nino-leftSide" class="fsr">
				<div layout="row" class="fw">
					<header class="col-md-12 col-sm-6 col-xs-12">
						<img src="static/images/avatar.jpg" alt="" class="avatar">
						<h1 class="name">Nguyen Van Cuong</h1>
						<h3 class="regency">Senior Business Analyst/Product Owner</h3>
					</header>
					<section class="nino-aboutMe col-md-12 col-sm-6 col-xs-12">
						<h2 class="nino-sectionHeading">
							<i class="mdi mdi-account nino-icon"></i>About Me
						</h2>
						<div class="nino-sectionContent">
							<p>A finacial and banking student has 4 years experience in IT field</p>
							<p>As BA/Product Owner, I worked in various kind of projects: Game/Recruit Developer Software/Fintech/chat bot AI...</p>
							<p>I'm really interested in Fintech and high/new technologies like AI, Machine Learning, Big Data, IoT</p>
							<p>My hobbies are travelling and twisting balloons</p>
						</div>
					</section>
					<section class="nino-contactInfo col-md-12 col-sm-6 col-xs-12">
						<h2 class="nino-sectionHeading">
							<i class="mdi mdi-contact-mail nino-icon"></i>Contact Me
						</h2>
						<ul class="nino-listWithIcon">
							<li layout="row">
								<div class="fsr">
									<i class="mdi mdi-map-marker nino-icon"></i>
								</div>
								<div class="fg">
								Gia Vien, Ninh Binh 
								</div>
							</li>
							<li layout="row">
								<div class="fsr">
									<i class="mdi mdi-email nino-icon"></i>
								</div>
								<div class="fg">
									claphh@gmail.com
								</div>
							</li>
							<li layout="row">
								<div class="fsr">
									<i class="mdi mdi-cellphone-iphone nino-icon"></i>
								</div>
								<div class="fg">
									(+84) 984002735
								</div>
							</li>
						</ul>
					</section>
					<section class="nino-mySkill col-md-12 col-sm-6 col-xs-12">
						<h2 class="nino-sectionHeading">
							<i class="mdi mdi-trophy-award nino-icon"></i>
							My Skills
						</h2>
						<ul class="nino-listWithIcon">
							<li layout="row">
								<div class="fsr">
									<i class="mdi mdi-brightness-auto nino-icon"></i>
								</div>
								<div class="fg">
									<p>Product Owner</p>
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
											<span class="sr-only">90% Complete</span>
										</div>
									</div>
								</div>
							</li>
							<li layout="row">
								<div class="fsr">
									<i class="mdi mdi-apple nino-icon"></i>
								</div>
								<div class="fg">
									<p>Business Analyst</p>
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
											<span class="sr-only">80% Complete</span>
										</div>
									</div>
								</div>
							</li>
							<li layout="row">
								<div class="fsr">
									<i class="mdi mdi-android nino-icon"></i>
								</div>
								<div class="fg">
									<p>Quality Assurance</p>
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
											<span class="sr-only">95% Complete</span>
										</div>
									</div>
								</div>
							</li>
							<li layout="row">
								<div class="fsr">
									<i class="mdi mdi-android nino-icon"></i>
								</div>
								<div class="fg">
									<p>Auomation test (Jmeter+Seleninum)</p>
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
											<span class="sr-only">60% Complete</span>
										</div>
									</div>
								</div>
							</li>
							<li layout="row">
								<div class="fsr">
									<i class="mdi mdi-web nino-icon"></i>
								</div>
								<div class="fg">
									<p>User Flow/Mock up Design</p>
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
											<span class="sr-only">75% Complete</span>
										</div>
									</div>
								</div>
							</li>
							<li layout="row">
								<div class="fsr">
									<i class="mdi mdi-printer nino-icon"></i>
								</div>
								<div class="fg">
									<p>Python Programming</p>
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
											<span class="sr-only">50% Complete</span>
										</div>
									</div>
								</div>
							</li>
							<li layout="row">
								<div class="fsr">
									<i class="mdi mdi-printer nino-icon"></i>
								</div>
								<div class="fg">
									<p>HTML/CSS SQL</p>
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
											<span class="sr-only">50% Complete</span>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</section>
				</div>
			</div>
			<div id="nino-rightSide" class="fg">
				<main id="nino-mainContent">
					<section>
						<h2 class="nino-sectionHeading">
							<i class="mdi mdi-briefcase nino-icon"></i>Work Experience
						</h2>
						<div class="nino-sectionContent">
							<div class="inner">
								<article>
									<h3 class="nino-articleTitle">Senior Business Analyst/Product Owner</h3>
									<div class="nino-articleMeta">
										<span><i class="mdi mdi-domain nino-icon"></i>PowerGate Software</span>
										<span><i class="mdi mdi-calendar-text nino-icon"></i>Oct 2016-Current</span>
									</div>
									<div class="nino-articleContent">
										PowerGate Software is a United States-Vietnam joint ventured software company which is one of the top companies specializing in software services and counselor with offices in USA and Vietnam.
										<br>
										<b><u>My Responsibility</u></b>
										<br>
										<ol>
											<li>Make WBS file and work with Dev team about Estimate to Bid Project</li>
											<li>Investigate: User Behavior,Logic of Functions,Business Requirement</li>
											<li>Make wire-frame for every single screen of website with details note.</li>
											<li>Make the priority chart of design base on impact and time-to-do</li>
											<li>Control the Quality of System</li>
											<li>Control Go Live Process</li>
											<li>Receive issues from end-user and assign team to resolve</li>
											<li>Report to CEO the project execution</li>
										</ol>
									</div>
								</article>
								<article>
									<h3 class="nino-articleTitle">Product Owner</h3>
									<div class="nino-articleMeta">
										<span><i class="mdi mdi-domain nino-icon"></i>Donuts Hanoi</span>
										<span><i class="mdi mdi-calendar-text nino-icon"></i>Oct 2015-Oct 2016</span>
									</div>
									<div class="nino-articleContent">
										Donuts Hanoi is a Japanese company which create mobile game business, recruiting service, and other web services to expand the business.
										<br>
										<b><u>My Responsibility</u></b>
										<br>
										<ol>
											<li>Investigate: User Behavior,Logic of Functions,Business Requirement</li>
											<li>Check the design following UI/UX references</li>
											<li>Learn and investigate UI/UX design from competitor websites: Hackerrank.com,Codefights.com,Codility.com,Codingame.com...,Codewar.com </li>
											<li>Make wire-frame for every single screen of website with details note.</li>
											<li>Make the priority chart of design base on impact and time-to-do</li>
											<li>Control the Quality of System</li>
											<li>Control Go Live Process</li>
											<li>Receive issues from end-user and assign team to resolve</li>
											<li>Report to CEO the project execution</li>
											<li>Design rule/mechanism mini game for marketing main game</li>
											<li>Analyst the target user of game to design/implement new GACHA feature</li>
										</ol> 
									</div>
								</article>
								<article>
									<h3 class="nino-articleTitle">Senior QA/PM Assistant</h3>
									<div class="nino-articleMeta">
										<span><i class="mdi mdi-domain nino-icon"></i>Jonckers Hanoi</span>
										<span><i class="mdi mdi-calendar-text nino-icon"></i>March 2014- Oct 2015</span>
									</div>
									<div class="nino-articleContent">
										Jonckers are a global provider of translation services. We provide document translation, legal translation and technical translation services. Jonckers is partner of big companies: Microsoft, Adobe, Cisco... 
										<br>
										<b><u>My Responsibility</u></b>
										<br>
										<ol>
											<li>Create test cases</li>
											<li>Create test plan</li>
											<li>Review test result and control test quality</li>
											<li>Training junior about test</li>
											<li>Support PM to contact with Customers</li>
										</ol>
									</div>
								</article>
								<article>
									<h3 class="nino-articleTitle">Quality Assurance</h3>
									<div class="nino-articleMeta">
										<span><i class="mdi mdi-domain nino-icon"></i>Gameloft Hanoi</span>
										<span><i class="mdi mdi-calendar-text nino-icon"></i>Nov 2013 - Mar 2014</span>
									</div>
									<div class="nino-articleContent">
										Gameloft creates products for all digital platforms, including mobile phones, smartphones and tablets, set-top boxes  and  connected  TVs.
										<br>
										<b><u>My Responsibility</u></b>
										<br>
										<ol>
											<li>Testing following test cases</li>
											<li>Report test result</li>
											<li>Using tool to set up and test ingame event</li>
										</ol>
									</div>
								</article>
							</div>
						</div>
					</section>
					<section>
						<h2 class="nino-sectionHeading">
							<i class="mdi mdi-school nino-icon"></i>Education
						</h2>
						<div class="nino-sectionContent">
							<div class="inner">
								<article>
									<h3 class="nino-articleTitle">Degree of Bachelor</h3>
									<div class="nino-articleMeta">
										<span><i class="mdi mdi-hospital-building nino-icon"></i>Hanoi Open University</span>
										<span><i class="mdi mdi-calendar-text nino-icon"></i>Sep 2009- Oct 2013</span>
									</div>
									<div class="nino-articleContent">
										Major: Financial and Banking
										<br>
										Specilized: Bussiness Administration
									</div>
								</article>
							</div>
						</div>
					</section>
					<section>
						<h2 class="nino-sectionHeading">
							<i class="mdi mdi-web nino-icon"></i>Languages
						</h2>
						<div class="nino-sectionContent">
							<div class="inner">
								<div class="row nino-languages">
									<div class="col-md-4 col-sm-4">
										<img src="static/images/flags/flag-1.png" alt="">
										<h4 class="languageName">Vietnamese</h4>
										<div class="stars">
											<i class="mdi mdi-star nino-icon"></i>
											<i class="mdi mdi-star nino-icon"></i>
											<i class="mdi mdi-star nino-icon"></i>
											<i class="mdi mdi-star nino-icon"></i>
											<i class="mdi mdi-star nino-icon"></i>
										</div>
									</div>
									<div class="col-md-4 col-sm-4">
										<img src="static/images/flags/flag-2.png" alt="">
										<h4 class="languageName">English</h4>
										<div class="stars">
											<i class="mdi mdi-star nino-icon"></i>
											<i class="mdi mdi-star nino-icon"></i>
											<i class="mdi mdi-star nino-icon"></i>
											<i class="mdi mdi-star nino-icon"></i>

										</div>
									</div>
									<div class="col-md-4 col-sm-4">
										<img src="static/images/flags/flag-3.png" alt="">
										<h4 class="languageName">Chinese - Madarin</h4>
										<div class="stars">
											<i class="mdi mdi-star nino-icon"></i>
											<i class="mdi mdi-star nino-icon"></i>
											<i class="mdi mdi-star nino-icon"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</main>
			</div>
		</div>
	</div>

    <!-- Scroll to top
    ================================================== -->
	<a href="#" id="nino-scrollToTop">Go to Top</a>
	
	<!-- javascript -->
	<script type="text/javascript" src="static/js/jquery.min.js"></script>
	<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="static/js/template.js"></script>

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!-- css3-mediaqueries.js for IE less than 9 -->
	<!--[if lt IE 9]>
	    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->
		
</body>
</html>
